
                        /* variables */
:root{
  --spacing:0.1rem;
  --transition:all 0.3s linear
}
*,::after,::before{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body {

  font-family:  'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color : hsl(210, 36%, 96%);
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.1rem;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav-container{
  background-color: rgb(12, 11, 11);
  color: white;
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 10vh;
  font-size: 2rem; 
  font-weight: 800;
  padding: 0 4rem;
}
.nav-container ul{
  width: 40%;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: normal;
}
.profile{
  padding: 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-picture{
  width:30%;
  border-radius: 50%;
  
}
@media screen and (max-width:798px) { 
  .profile{
    display: grid;
    grid-template-columns: 1fr;
  }
}